<footer class="row container-fluid">

    <div class="col-11 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-around flex-wrap">
        <!-- Logo footer -->
        <div class="mb-2 col-11 col-md-12 col-lg-2 col-xl-2 d-flex justify-content-around flex-wrap">
            <a href="/" role="button"><img src="/images/Logo.svg" alt="marca almazen"></a>
        </div>
        <!-- Menu de productos -->
        <div class="col-6 col-md-3 col-lg-2 col-xl-2 menu-productos">
            <article>
                <h6>PRODUCTOS</h6>
                <ul>
                    <li><a href="/#productos">Producto 1</a></li>
                    <li><a href="/#productos">Producto 2</a></li>
                    <li><a href="/#productos">Producto 3</a></li>
                    <li><a href="/#productos">Producto 4</a></li>
                </ul>
            </article>
        </div>
        <!-- Menu Recetas -->
        <div class="col-6 col-md-3 col-lg-2 ccol-xl-2 menu-recetas">
            <article>
                <h6>RECETAS</h6>
                <ul>
                    <li><a href="/#recetas">Receta 1</a></li>
                    <li><a href="/#recetas">Receta 2</a></li>
                    <li><a href="/#recetas">Receta 3</a></li>
                    <li><a href="/#recetas">Receta 4</a></li>
                </ul>
            </article>
        </div>
        <!-- Menu Tips -->

        <div class="col-6 col-md-3 col-lg-2 ccol-xl-2 menu-tips">
            <article>
                <h6>TIPS</h6>
                <ul>
                    <li><a href="">TIP 1</a></li>
                    <li><a href="">TIP 2</a></li>
                    <li><a href="">TIP 3</a></li>
                    <li><a href="">TIP 4</a></li>
                </ul>
            </article>
        </div>
        <!-- Menu DIETAS-->
        <div class="col-6 col-md-3 col-xl-2 menu-tips">
            <article>
                <h6>DIETAS</h6>
                <ul>
                    <li><a href="#">Dieta 1</a></li>
                    <li><a href="">Dieta 2</a></li>
                    <li><a href="">Dieta 3</a></li>
                    <li><a href="">Dieta 4</a></li>
                </ul>
            </article>
        </div>
        <div class="col-md-12 col-lg-2 justify-content-start menu-newsletter">
            <h6 class="col-12 col-md-8">NEWSLETTER</h6>
            <p class="col-12 col-md-8 justify-content-start">Dejanos tus datos para recibir toda la información y promociones</p>
            <form class="mb-2 col-12 col-md-8 col-lg-12 d-flex">
                <input class="col-9" type="email" name="newsletter"><button class="col-3" type="submit">Enviar</button>
            </form>
        </div>
    </div>
    <div class="col-11 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-around flex-wrap">

        <div class="col-12 col-lg-6 align-items-center copyright">
            <h6 class="d-flex copy">© 2020 Almazen. Todos los derechos reservados</h6>
        </div>

        <div class="col-12 col-lg-6 col-xl-6 d-flex redes">

            <ul class="col-12 col-md-8 col-lg-6 d-flex align-items-center iconos">
                <li class=" ">
                    <a href="" class="d-flex justify-content-center"><img src="/images/SVG/facebook-icon-verde.svg" alt="facebook_icon" width="45px"></a>
                </li>
                <li class="">
                    <a href="" class="d-flex justify-content-center"><img src="/images/SVG/youtube-icon-verde.svg" alt="youtube_icon" width="45px" class=""></a>
                </li>
                <li class="">
                    <a href="" class="d-flex justify-content-center"><img src="/images/SVG/instagram-icon-verde.svg" alt="instagram_icon" width="45px" class=""></a>
                </li>
                <li class="">
                    <a href="" class="d-flex justify-content-center"><img src="/images/SVG/whatsapp-icon-verde.svg" alt="whatsapp_icon" width="45px"></a>
                </li>
            </ul>


        </div>
    </div>

</footer>