<header class="container-fluid">

    <nav class="navbar navbar-expand-lg mobile d-flex flex-wrap align-items-center">
        <!-- LOGO -->
        <div class="col-8 col-md-6 col-lg-2 marca">
            <a href="/" role="button" class="logo"><img src="/images/Logo.png" alt="marca almazen" width="" class="logoImg"></a>
        </div>
        <!-- FIN LOGO -->

        <!-- BOTON CARRITO -->
        <div class="col-1 col-md-2 col-lg-1 mt-1 d-flex align-items-center justify-content-end carrito">
            <a href="/cart" role="button" class="justify-content-center"><img src="/images/cart.png" width="31px" alt="carrito"></a>
            <span class="counter qtyItemsIcon d-flex justify-content-center align-items-center"></span>
        </div>
        <!-- FIN BOTON CARRITO -->

        <!-- BOTON PERFIL | INGRESAR | REGISTRAR -->
        <div class="col-1 col-md-2 col-lg-1 mt-1 d-flex justify-content-end profile align-items-center">
            <div class="dropdown mr-1">

                <% if (usuarioLogueado!=undefined) { %>

                    <abbr id="dropdownMenuOffset" data-toggle="dropdown" aria-expanded="false" data-offset="10,50" data-title="<%= usuarioLogueado.name %>"><img src="/users-avatar/<%= usuarioLogueado.avatar %>"  width="40px" style="border-radius: 50%;" alt="Imagen de usuario"></abbr>


                    <!--<div class="userNameLog">
                        <%= usuarioLogueado.name %>
                    </div>-->

                    <% } else { %>

                        <img src="/images/profile.png" class="dropdown-toggle userLogImage imgProfile" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,50" width="35px" alt="Imagen de usuario">
                        <% } %>
                            <div class="dropdown-menu dropdown-menu-right adminin-menu" aria-labelledby="dropdownMenuOffset">
                                <% if (usuarioLogueado==undefined) { %>

                                    <!-- LOGIN  -->
                                    <!-- Button trigger modal login -->
                                    <button type="button" class="btn btn-primary btn-login-header" data-toggle="modal" data-target="#Login">
                        INGRESAR
                    </button>

                                    <!-- /* CREAR CUENTA */ -->
                                    <button type="button" class="btn btn-primary btn-login-header" data-toggle="modal" data-target="#Register">
                        CREAR CUENTA
                    </button>

                                    <% } else {%>

                                        <% if (usuarioLogueado.role==2) { %>
                                            <!-- /* MENÚ DE ADMINISTRADOR */ -->
                                            <!-- /* PRODUCTOS */ -->
                                            <button type="button" class="btn btn-primary btn-login-header" onclick="location.href='/product/admin/'">
                        PRODUCTOS
                    </button>

                                            <!-- /* RECETAS */ -->
                                            <button type="button" class="btn btn-primary btn-login-header" onclick="location.href='/product/admin/'">
                        RECETAS
                    </button>

                                            <!-- /* TIPS */ -->
                                            <button type="button" class="btn btn-primary btn-login-header" onclick="location.href='/product/admin/'">
                        TIPS
                    </button>

                                            <!-- /* CATEGORIAS */ -->
                                            <button type="button" class="btn btn-primary btn-login-header" onclick="location.href='/product/admin/'">
                        CATEGORIAS
                    </button>

                                            <!-- /* CATEGORIAS */ -->
                                            <button type="button" class="btn btn-primary btn-login-header" onclick="location.href='/product/admin/'">
                        USUARIOS
                    </button>

                                            <% } else {%>

                                                <!-- /* VER PERFIL */ -->
                                                <button type="button" class="btn btn-primary btn-login-header" onclick="location.href='/users/profile'">
                        VER PERFIL
                    </button>

                                                <% }%>

                                                    <!-- /* CERRAR SESIÓN */ -->
                                                    <button type="button" class="btn btn-primary btn-login-header hoverlogout" onclick="location.href='/users/logout'">
                        CERRAR SESIÓN
                    </button>

                                                    <% }%>

                            </div>

            </div>

            <!-- FIN DE LA SECCIÓN MODAL DE LOGIN Y REGISTER -->
            <!-- MODAL LOGIN-->
            <div class="modal fade" id="Login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header-login">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h5 class="modal-title-logs" id="exampleModalLabel">Ingresá a tu cuenta</h5>
                        </div>
                        <div class="modal-body">
                            <section class="contenedor-formulario-login">
                                <div id="page-wrapper">

                                    <form method="post" action="/users/login" id="loginFormM">
                                        <div class="form-campos">
                                            <!-- email -->
                                            <div class="form-group-login ">
                                                <label class="modal-label" for="email">EMAIL</label>
                                                <span class="wrapper-email-login"><input type="email"
                                                        class="form-control" id="emailLogM" aria-describedby="email"
                                                        name="email" placeholder="Ingresá tu email" required/><i id="emailIconLogM"
                                                        class="fas fa-envelope mail-modal"></i></span>
                                                <div class="invalidEmailM logErrors"></div>
                                                <div class="emptyEmailM logErrors"></div>
                                            </div>

                                            <!-- password -->
                                            <div class="form-group-login">
                                                <label class="modal-label" for="password">CONTRASEÑA</label>
                                                <span class="wrapper-email-login"><input type="password" name="password"
                                                        class="form-control" id="passwordLogM"
                                                        aria-describedby="passwordLogM"
                                                        placeholder="Ingresá tu contraseña" required/><i id="keyIconLogM"
                                                        class="fas fa-key"></i></span>
                                                <div class="emptyPassLogM logErrors"></div>
                                                <div class="invalidPassLogM logErrors"></div>
                                            </div>
                                        </div>
                                        <!-- dejar en blanco el formulario o enviar -->
                                        <div class="user row form-group d-flex flex-wrap col-12 justify-content-center">
                                            <button class="login col-8 " role="button" type="reset">Borrar</button>
                                            <button id="btnLogM" class="register col-8" role="button" type="submit" value="enviar">Ingresar</button>
                                            <p class="remember d-flex col-12 justify-content-center align-items-center"><input type="checkbox" name="remember" id="rememberLogin"> Recordarme
                                            </p>
                                        </div>
                                    </form>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>

            <!-- MODAL REGISTRO-->
            <div class="modal fade" id="Register" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header-login">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h5 class="modal-title" id="exampleModalLabel">Creá tu cuenta</h5>
                        </div>
                        <div class="modal-body">
                            <section class="contenedor-formulario-login">
                                <div id="page-wrapper">

                                    <form method="post" action="/users/create" id="registerFormM" enctype="multipart/form-data">
                                        <div class="form-campos">
                                            <!-- nombre -->
                                            <div class="form-group">
                                                <label class="modal-label" for="nombre">NOMBRE</label>
                                                <input type="text" class="form-control" id="nameRegM" name="name" aria-describedby="nombre" placeholder="Ejemplo: Carolina" required/>
                                                <div class="emptyNameM logErrors"></div>
                                            </div>

                                            <!-- email -->
                                            <div class="form-group">
                                                <label class="modal-label" for="exampleInputEmail1">EMAIL</label>
                                                <input type="email" class="form-control" id="emailRegM" name="email" aria-describedby="emailHelp " placeholder="Ejemplo: almazen@gmail.com" required/>
                                                <div class="invalidRegEmailM logErrors"></div>
                                                <div class="emptyRegEmailM logErrors"></div>
                                            </div>

                                            <!-- password -->
                                            <div class="form-group">
                                                <label class="modal-label" for="contraseña">CONTRASEÑA</label>
                                                <input type="password" class="form-control" id="passwordRegM" name="password" aria-describedby="password" name="password" placeholder="Ingresá una contraseña" required/>
                                                <div class="emptyPassRegM logErrors"></div>
                                                <div class="invalidPassRegM logErrors"></div>

                                            </div>

                                            <!-- validación -->
                                            <div class="form-group">
                                                <label class="modal-label" for="validation">REPETÍ TU CONTRASEÑA</label>
                                                <input type="password" class="form-control" id="validationM" aria-describedby="validation" name="validation" placeholder="Repetí tu contraseña" required/>
                                                <div class="emptyValidationM logErrors"></div>
                                                <div class="invalidValidationM logErrors"></div>
                                            </div>

                                            <!-- carga de imágenes -->
                                            <div class="form-group d-flex flex-wrap col-12 justify-content-center align-items-center">
                                                <label class="modal-label" for="avatar">CARGÁ UNA IMAGEN</label>
                                                <input type="file" class="form-control-imagen" id="avatarM" name="avatar" required/>
                                                <div class="emptyAvatarM logErrors"></div>
                                                <div class="invalidAvatarM logErrors"></div>
                                            </div>
                                        </div>

                                        <!-- dejar en blanco el formulario o enviar -->
                                        <div class="user row form-group d-flex flex-wrap col-12 justify-content-center">
                                            <button class=" col-8 login align-items-center justify-content-center" role="button" type="reset">Borrar</button>
                                            <button id="btnRegM" class="register col-8 align-items-center justify-content-center" role="button" type="submit">Enviar</button>
                                            <p class="remember d-flex flex-wrap col-12 justify-content-center align-items-center"><input type="checkbox" name="remember" id="rememberRegister"> Recordarme
                                            </p>
                                        </div>
                                    </form>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- FIN DE LA SECCIÓN MODAL DE LOGIN Y REGISTER -->

        <!-- FORMULARIO DE BUSQUEDA -->
        <form action="/product/find" method="post" class="search-form col-10 col-md-10 col-lg-4 d-flex justify-content-center input-group">
            <input id="search" type="text" name="search" placeholder="Buscá productos o recetas" class="form-control search-form_input col-10">
            <button type="submit" class="search-form_button col-3"><i class="fas fa-search"></i></button>
            <div id="divSerch" class="serach-form col-11  input-group"></div>
        </form>
        <!-- FIN FORMULARIO DE BUSQUEDA -->

        <!-- CONTENEDOR DE RESULTADOS DE BÚSQUEDA -->

        <button class="navbar-toggler col-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <img src="/images/toggler_icon.png">
        </button>
        <!-- FIN BOTON MENU HAMBURGUESA-->

        <!-- MENU COLAPSABLE -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="col-12 col-md-12 col-lg-12 col-xl-12 align-items-center justify-content-between navbar-nav">

                <!-- BOTON PRODUCTOS -->
                <li class="col-12 col-md-12 col-lg-2 mt-1 d-flex  justify-content-center align-items-center">
                    <a class="col-12 col-lg-1 col-xl-1 d-flex justify-content-center" href="/product/" type="button" data-toggle="tooltip" data-placement="left" title="Tooltip on left">PRODUCTOS</a>

                </li>
                <!-- BOTON RECETAS -->
                <li class="col-12 col-md-12 col-lg-1 mt-1 d-flex justify-content-center align-items-center">
                    <a class="col-12 col-lg-1 col-xl-1 d-flex justify-content-center" href="/recetas/">RECETAS</a>
                </li>
                <!-- BOTON DIETAS -->
                <li class="col-12 col-md-12 col-lg-1 mt-1 d-flex justify-content-center align-items-center">
                    <a class="col-12 col-lg-1 col-xl-1 d-flex justify-content-center" href="/product/details">DIETAS</a>
                </li>
                <!-- BOTON TIPS -->
                <li class="col-12 col-md-12 col-lg-1 mt-1 d-flex justify-content-center align-items-center">
                    <a class="col-12 col-lg-1 col-xl-1 d-flex justify-content-center" href="/tips/tips">TIPS</a>
                </li>

            </ul>
        </div>
        <!-- FIN MENU COLAPSABLE -->
    </nav>
</header>
<script type='text/javascript' src="/js/search.js"></script>

<% if (typeof errors != 'undefined') { %>
    <div class="col-12 users-errors ">
        <ul>
            <!-- <h4><i class="fas fa-exclamation-triangle"></i>¡Vaya! Algo ha salido mal</h4> -->
            <% for(let error of errors) { %>
                <div class="d-flex justify-content-center mx-auto" id="error-messege">
                    <li><i class="fas fa-times-circle"></i>
                        <%= error.msg %>
                    </li>
                </div>
                <% } %>
        </ul>
    </div>
    <% } %>