<header class="container-fluid">
    <nav class="navbar navbar-expand-lg">
        <a href="/" role="button" class="col-2"><img src="/images/Logo.svg" alt="marca almazen" class="navbar-brand"></a>
        <button class="ml-auto navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <img src="/images/toggler_icon.png">
        <!--<i class="fa fa-bars"></i>-->
      </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="ml-auto mb-3 col-12 col-md-12 col-lg-7 col-xl-7 d-flex align-items-center justify-content-around  navbar-nav">
                <li class="col-12 col-md-12 col-lg-3 align-items-center dropdown enlaces">
                    <a class="col-12 col-md-3 col-lg-2 col-xl-2 dropdown-toggle" href="/#productos" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  PRODUCTOS
                </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/#productos">PRODUCTO 1</a>
                        <a class="dropdown-item" href="/#productos">PRODUCTO 2</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/#productos">TODOS</a>
                    </div>
                </li>
                <li class="col-12 col-lg-1 align-items-center enlaces">
                    <a class="col-12 col-lg-1 col-xl-1" href="#">DIETAS</a>
                </li>
                <li class="col-12 col-lg-1 align-items-center enlaces">
                    <a class="col-12 col-lg-2 col-xl-1" href="/tips/tips">TIPS</a>
                </li>
                <li class="col-12 col-lg-2 dropdown align-items-center enlaces">
                    <a class="col-12 col-lg-2 col-xl-2 dropdown-toggle" href="/#recetas" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                RECETAS
              </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Receta 1</a>
                        <a class="dropdown-item" href="#">Receta 2</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Agregado</a>
                    </div>
                </li>
                <li class="col-12 col-lg-1 align-items-center enlaces">
                    <a href="/product/cart" role="button" class="col-12 carrito"><img src="/images/cart.svg" alt="carrito"></a>
                </li>


            </ul>
            <div class="mb-3 col-12 col-lg-3 col-xl-4 d-flex flex-xs-row align-items-center justify-content-center user">
                <button class="col-4 col-lg-5 col-xl-5 login align-items-center justify-content-center" role="button" type="button" onclick="window.location='/registro/login'">INGRESAR</button>
                <button class="col-4 col-lg-5 col-xl-5 register align-items-center justify-content-center" role="button" type="button" onclick="window.location='/registro/create'">CREA TU CUENTA</button>
            </div>

        </div>

    </nav>
</header>