<!-- Redes Sociales Flotantes-->

<div class="social-bar">
    <a href="#" class="" target="_blank"><img src="/images/SVG/facebook-icon-verde.svg" alt="facebook_icon" width="35px"></a>
    <a href="https://www.youtube.com/channel/UCWv7kVbusmkEM7y8WcrSlFw?view_as=subscriber" class="" target="_blank"><img src="/images/SVG/youtube-icon-verde.svg" alt="youtube_icon" width="35px" class=""></a>
    <a href="https://www.instagram.com/almazen_mza/" class="" target="_blank"><img src="/images/SVG/instagram-icon-verde.svg" alt="instagram_icon" width="35px" class=""></a>
    <a href="#" class="" target="_blank"><img src="/images/SVG/whatsapp-icon-verde.svg" alt="whatsapp_icon" width="35px"></a>
</div>