<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head", {title: "Cúrcuma"}) %> 
</head>

<body>
        <!-- HEADER -->
        <%- include("partials/header") %> 
        <!-- /HEADER -->

        <!-- Details products -->
        <article class="container container-details">
            <div class="row box-product-details">

                <figure class="col-12 col-lg-6 imagen-detalles">
                    <img src="/images/curcuma en polvo.jpg" alt="cúrcuma en polvo">
                </figure>

                <div class="col-12 col-lg-6">
                    <div class="description-wrapper-details">
                        <section class="col-12 product-details">
                            <div class="short-description-detalles">

                                <h3 class="titulo_producto mb-2">Cúrcuma</h3>
                                <p class="descripcion_producto">La cúrcuma, también denominada azufre de Indias, es una planta muy apreciada por su versatilidad gastronómica. Se le atribuyen propiedades medicinales contra el cáncer, el colesterol alto o la artrosis, entre otras enfermedades. Es nativa del suroeste de la India y es una raíz de la familia del jengibre. </p>
                                <p class="descripcion_producto"> Se utiliza como colorante por su inconfundible color amarillo. Además, aporta un cautivante sabor dulzón con un toque picante y amargo, por lo que conviene incorporarlo en pequeñas cantidades.</p> 
                                <p class="descripcion_producto">Peso Neto: 100 gr.</p>
                            </div>
                            <form action="" class="forumlario_compra-detalles mb-4">

                                <div class="row precio_producto-detalles">
                                    <h3 class="col-6 col-lg-12 precio_producto precio_detalles">$60</h3>

                                    <div class="col-6 col-lg-12 box-quantity-detalles">

                                        <div class="quantity-selector-text"> Cantidad: </div>

                                        <select class="selectpicker quantity-selector-detalles">
                                            <option class="active">1 unidad</option>
                                            <option class="option">2 unidades</option>
                                            <option class="option">3 unidades</option>
                                            <option class="option">4 unidades</option>
                                            <option class="option">5 unidades</option>
                                        </select>

                                    </div>
                                </div>

                                <div class="vip-actions-wrapper  vip-actions-wrapper--cart-item botones-detalles">
                                    <div class="vip-actions item-actions u-clearfix">
                                        <div class="row vip-action-primary-details">

                                            <input type="submit" data-js="vip-action-primary" form="productInfo"
                                                title="curcuma" value="Comprar ahora"
                                                class="col-12 col-md-5 col-lg-4 primary ui-button ui-button--primary  vip-narrow-button" onclick="window.location='/product/cart'">

                                            <input type="submit" data-js="vip-action-cart" form="productInfo"
                                                title="curcuma" value="Agregar al carrito"
                                                class="col-12 col-md-5 col-lg-4 secondary ui-button ui-button--secondary" onclick="window.location='/#'">

                                        </div>
                                    </div>
                                </div>
                            </form>

                        </section>
                    </div>
                </div>
            </div>
        </article>
        <!-- /Details products -->

        <!-- FOOTER -->
       <%- include("partials/footer") %> 
        <!-- /FOOTER -->

        <!-- Scripts -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
        </script>
        <!-- /Scripts -->
    </div>
</body>

</html>