<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("partials/head", {title: "Agregar producto"}) %> 
</head>

<body>


    <div class="container-fluid ">

        <!-- HEADER -->
        <%- include("partials/header") %> 
        <!-- /HEADER -->

        <!-- Upload product -->
        <div class="container align-content-between carga_producto pb-5">
            <form>
                <div class="row">
                    <!-- COLUMNA IZQUIERDA -->
                    <div class="container left-column  col-12 col-md-6 col-lg-4 d-block">
                        <div class="row ">
                            <div class="form-group col-12">
                                <label class="titulo_carga_producto" for="nombre">Nombre del producto <span class="asterisco">*</span></label>
                                <input type="text" class="form-control" id="nombre" placeholder="Ingrese el nombre del producto." required>
                            </div>
                            <div class="form-group col-12">
                                <label class="titulo_carga_producto " for="descripcionCorta">Descripción corta <span class="asterisco">*</span></label>
                                <input type="text" class="form-control" id="descripcionCorta" required placeholder="Ingrese la descripción corta del producto.">
                            </div>
                            <div class="form-group col-12">
                                <label class="titulo_carga_producto" for="descripcionLarga">Descripción completa <span class="asterisco">*</span></label>
                                <textarea class="form-control" id="descripcionLarga" required rows="3" placeholder="Ingrese la descripción completa del producto."></textarea>
                            </div>

                            <div class="form-group col-6 pl-0 ">
                                <label class="titulo_carga_producto" for="precio">Precio <span class="asterisco">*</span></label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">$</span>
                                    </div>
                                    <input type="number" min="0" class="form-control text-right" id="precio" required placeholder="0">
                                </div>
                            </div>
                            <div class="form-group col-6 pr-0">
                                <label class="titulo_carga_producto" for="descuento">Descuento</label>
                                <div class="input-group">
                                    <input type="number" min="0" class="form-control text-right" id="descuento" placeholder="0">
                                    <div class="input-group-apend">
                                        <span class="input-group-text">%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-6 pl-0">
                                <label class="titulo_carga_producto" for="stock">Stock</label>
                                <input type="number" min="0" class="form-control text-right" id="stock" placeholder="0">
                            </div>

                        </div>
                    </div>
                    <!-- COLUMNA CENTRAL -->
                    <div class="mt-2 mt-lg-0 mb-2 ml-md-0 ml-lg-auto order-md-3  order-lg-2 container center-column col-12 col-md-6 col-lg-4">
                        <div class="row justify-content-center">
                            <label class="titulo_carga_producto col-12 text-center" for="form_producto">Imagen del
                                producto</label>
                            <div class=" col-12 text-center" id="image-preview-div">
                                <img id="preview-img" src="/images/curcuma en polvo.jpg">
                            </div>
                            <div class="col-8 row form-group justify-content-around ">
                                <button class="col-5 blanco align-items-center justify-content-center" role="button" type="button">Borrar</button>
                                <button class=" col-5  align-items-center justify-content-center" role="button" type="button">Cambiar</button>
                            </div>
                        </div>
                    </div>
                    <!-- COLUMNA DERECHA -->
                    <div class=" order-md-2 order-lg-3 container align-content-center right-column col-12 col-md-6 col-lg-4">
                        <div class="row justify-content-center ">
                            <div class="card text-center">
                                <div class="card-header">
                                    <ul class=" nav  nav-tabs card-header-tabs ">
                                        <li class="nav-item">
                                            <a class="nav-link titulo_carga_producto font-weight-bold border-white active" href="#">Categorías</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link titulo_carga_producto  border-white" href="#">Recetas</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link titulo_carga_producto  border-white" href="#">Dietas</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-body">

                                    <div class="card_item text-left">
                                        <div class="form-check d-inline-block  ">
                                            <input type="checkbox" class="" id="checkbox_1" value="">
                                            <label for="checkbox_1"></label>
                                        </div>
                                        <label for="checkbox_1" class="nombre_item d-inline-block">Frutas Secas</label>
                                    </div>
                                    <div class="card_item text-left">
                                        <div class="form-check d-inline-block  ">
                                            <input type="checkbox" class="" id="checkbox_2" value="">
                                            <label for="checkbox_2"></label>
                                        </div>
                                        <label for="checkbox_2" class="nombre_item d-inline-block">Harinas</label>
                                    </div>

                                    <div class="card_item text-left">
                                        <div class="form-check d-inline-block  ">
                                            <input type="checkbox" class="" id="checkbox_3" checked value="">
                                            <label for="checkbox_3"></label>
                                        </div>
                                        <label for="checkbox_3" class="nombre_item d-inline-block">Bebidas</label>
                                    </div>
                                    <div class="card_item text-left">
                                        <div class="form-check d-inline-block  ">
                                            <input type="checkbox" class="" id="checkbox_4" value="">
                                            <label for="checkbox_4"></label>
                                        </div>
                                        <label for="checkbox_4" class="nombre_item d-inline-block">Frutas Secas</label>
                                    </div>
                                    <div class="card_item text-left">
                                        <div class="form-check d-inline-block  ">
                                            <input type="checkbox" class="" id="checkbox_5" value="">
                                            <label for="checkbox_5"></label>
                                        </div>
                                        <label for="checkbox_5" class="nombre_item d-inline-block">Harinas</label>
                                    </div>
                                    <div class="card_item text-left">
                                        <div class="form-check d-inline-block  ">
                                            <input type="checkbox" class="" id="checkbox_6" checked value="">
                                            <label for="checkbox_6"></label>
                                        </div>
                                        <label for="checkbox_6" class="nombre_item d-inline-block">Bebidas</label>
                                    </div>
                                    <div class="card_item text-left">
                                        <div class="form-check d-inline-block  ">
                                            <input type="checkbox" class="" id="checkbox_7" value="">
                                            <label for="checkbox_7"></label>
                                        </div>
                                        <label for="checkbox_7" class="nombre_item d-inline-block">Harinas</label>
                                    </div>
                                    <div class="card_item text-left">
                                        <div class="form-check d-inline-block  ">
                                            <input type="checkbox" class="" id="checkbox_8" checked value="">
                                            <label for="checkbox_8"></label>
                                        </div>
                                        <label for="checkbox_8" class="nombre_item d-inline-block">Bebidas</label>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- FILA INFERIOR  -->
                <div class="fila_inferior container ">
                    <div class="row col-12 mt-3">
                        <div class="form-group col-12 ml-3">
                            <div class="form-check d-inline-block  ">
                                <input type="checkbox" class="" id="habilitado" checked value="">
                                <label for="habilitado"></label>
                            </div>
                            <label for="habilitado" class="nombre_item d-inline-block">Habilitado</label>
                        </div>
                        <button class="pt-2 pb-2 ml-lg-auto" type="submit">Guardar</button>
                    </div>

                </div>
            </form>
        </div>
        <!-- /Upload product -->
        
         <!-- FOOTER -->
       <%- include("partials/footer") %> 
       <!-- /FOOTER -->

    </div>
    <!-- Fin DIV Container-->

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
</body>

</html>