<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head", {title: "Profile"}) %>

</head>

<body>
    <!-- HEADER -->
    <!--< % - include("partials/header", {usuarioLogueado: user})  % >
        <!-- /HEADER -->
        <div class="wrapper">
            <!-- Sidebar  -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    

                        <img src="/users-avatar/avatar-1593036167353.png" class="dropdown-toggle d-flex justify-content-center mx-auto" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,50" width="30%" style="border-radius: 50%;" alt="Imagen de suario">
                        <div class="d-flex justify-content-center mx-auto ">
                            <h4 class="userNameLogProfile">Usuario</h4>
                          </div>
                        
    
                </div>
    
                <ul class="">
                    
                    <li class="active">
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">PERFIL</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li>
                                <a href="#">Editar Perfil</a>
                            </li>
                            <li>
                                <a href="#">Eliminar</a>
                            </li>
                            
                        </ul>
                    </li>
                    
                   
                    <li>
                        <a href="#">Historial de compras</a>
                    </li>
                    <li>
                        <a href="#">Productos Favoritos</a>
                    </li>
                </ul>
    
                <ul class="list-unstyled CTAs">
                    <li>
                        <a href="#p" class=".btnSidebar">Volver al inicio</a>
                    </li>
                    <li>
                        <a href="#" class=".btnSidebar">Ver todos los productos</a>
                    </li>
                </ul>
            </nav>
    
            <!-- Page Content  -->
            <div id="content" class="mb-2">
    
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
    
                        <button type="button" id="sidebarCollapse" class="btn btn-info">
                                <i class="fas fa-angle-right"></i>
                            
                        </button>
                       
    
                        
                    </div>
                </nav>
    
                <h2 class="TituloDestacados">Historial de compras</h2>
                <div class="tableHistorial">
                    <table class="table">
                        <thead class="cabezalTabla">
                          <tr>
                            <th scope="col">N°Orden</th>
                            <th scope="col">Producto</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Precio</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Stevia</td>
                            <td>Endulzante natural</td>
                            <td>$170</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Cacao</td>
                            <td>Amargo en polvo</td>
                            <td>$300</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Maca</td>
                            <td>en polvo</td>
                            <td>$200</td>
                          </tr>
                        </tbody>
                      </table>
                      
                      
                </div>
    
                <div class="line"></div>
    
                <h2 class="TituloDestacados">Lorem Ipsum Dolor</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    
                <div class="line"></div>
    
                <h2>Lorem Ipsum Dolor</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    
                <div class="line"></div>
    
                <h3>Lorem Ipsum Dolor</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    
      
        </div >
        <!-- FOOTER -->
        <%- include("partials/footer") %>
            <!-- /FOOTER -->
        <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
            

</body>

</html>