<!DOCTYPE HTML>
<html>

<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("partials/head", {title: "register"}) %>
</head>

<body>

    <!-- HEADER -->
    <%- include("partials/header", {usuarioLogueado: usuarioLogueado}) %>
        <!-- /HEADER -->

        <section class="contenedor-formulario col-12 col-lg-6 mt-0">
            <div id="page-wrapper ">

                <form method="post" action="/users/create" id="miFormulario" enctype="multipart/form-data">
                    <div class="form-campos">
                        <!-- nombre -->
                        <div class="form-group">
                            <label class="modal-label" for="nombre">NOMBRE</label>
                            <input type="text" class="form-control" id="nombre" name="name" aria-describedby="nombre" placeholder="Ejemplo: Carolina" required/>
                        </div>

                        <!-- email -->
                        <div class="form-group">
                            <label class="modal-label" for="exampleInputEmail1 ">EMAIL</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp " placeholder="Ejemplo: almazen@gmail.com" required/>
                        </div>

                        <!-- password -->
                        <div class="form-group">
                            <label class="modal-label" for="password">CONTRASEÑA</label>
                            <input type="password" class="form-control" id="password" name="password" aria-describedby="password" name="password" placeholder="Ingresá una contraseña" required/>
                        </div>

                        <!-- validación -->
                        <div class="form-group">
                            <label class="modal-label" for="validation">REPETÍ TU CONTRASEÑA</label>
                            <input type="password" class="form-control" id="validation" aria-describedby="validation" name="validation" placeholder="Repetí tu contraseña" required/>
                        </div>

                        <!-- carga de imágenes -->
                        <div class="form-group">
                            <label class="modal-label" for="avatar">CARGÁ UNA IMAGEN</label>
                            <input type="file" class="form-control-imagen" id="avatar" name="avatar" required/>
                        </div>
                    </div>

                    <!-- dejar en blanco el formulario o enviar -->
                    <div class="user form-group">
                        <button class="login align-items-center justify-content-center" role="button" type="reset">Borrar</button>
                        <button class="register align-items-center justify-content-center" role="button" type="submit">Enviar</button>
                    </div>
                </form>
            </div>
        </section>

        <!-- FOOTER -->
        <%- include("partials/footer") %>
            <!-- /FOOTER -->

            </div>
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>