<!DOCTYPE HTML>
<html>

<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("partials/head", {title: "register"}) %>

</head>

<body>

    <!-- HEADER -->
    <%- include("partials/header") %>
        <!-- /HEADER -->

        <div class="container" id="tarjetas">

            <div class="ladofrente">
                <img src="/images/alimentos-saludables.jpg" alt="Alimentos saludables">
                <h3 class="tituloscard">Coma alimentos variados</h3>
                <span class='tipsaludable'>Necesitamos más de 40 nutrientes diferentes y ningún alimento por sí solo puede proporcionarlos todos. El suministro de alimentos que existe hoy en día facilita tomar una amplia variedad de alimentos, tanto comprando alimentos frescos como comprando comidas preparadas.</span>

            </div>

            <div class="ladofrente">
                <img src="/images/platosaludable.jpg" alt="Alimentos saludables">
                <h3 class="tituloscard">Alimentos ricos en hidratos de carbono</h3>
                <span class='tipsaludable'>Más de la mitad de las calorías de su dieta, es decir el 60 % aproximadamente, deben venir de estos alimentos. Lo ideal es aumentar la ingesta de fibra con el aporte de pan integral, la pasta integrales y otros cereales.</span>
            </div>

            <div class="ladofrente">
                <img src="/images/frutassaludables.jpg" alt="Alimentos saludables">
                <h3 class="tituloscard">Coma muchas frutas y verduras</h3>
                <span class='tipsaludable'>La mayor parte de la gente no come la suficiente cantidad de estos alimentos que proporcionan importantes nutrientes protectores. Intente comer al menos cinco raciones al día. Pruebe nuevas recetas o vea qué platos preparados están disponibles en el supermercado.</span>
            </div>

            <div class="ladofrente">
                <img src="/images/almuerzos-saludables.jpg" alt="Alimentos saludables">
                <h3 class="tituloscard">Coma raciones moderadas</h3>
                <span class='tipsaludable'>Si ingiere las raciones adecuadas de cada alimento, es más fácil comer de todos los grupos de alimentos sin necesidad de eliminar ninguno. Si come fuera, podría compartir parte de su comida con un amigo. No abandone el hábito de comer con los que quiere.</span>
            </div>

            <div class="ladofrente">
                <img src="/images/images.jpg" alt="Alimentos saludables">
                <h3 class="tituloscard">Tenga regularidad en las comidas</h3>
                <span class='tipsaludable'>Saltarse las comidas, sobre todo el desayuno, puede conducir a una sensación de hambre descontrolada, causando a menudo una sobre ingesta. Realizar la merienda puede ayudar a contener el hambre, pero no coma demasiado para no sustituir las comidas principales.</span>
            </div>

            <div class="ladofrente">
                <img src="/images/verduras.jpg" alt="Alimentos saludables">
                <h3 class="tituloscard">Todo es cuestión de equilibrio</h3>
                <span class='tipsaludable'>No se sienta culpable de los alimentos que le gustan, simplemente permítaselos con moderación y elija otros alimentos que le proporcionen el equilibrio y la variedad que necesita para conseguir una buena salud.</span>
            </div>

        </div>

        <!-- FOOTER -->
        <%- include("partials/footer") %>
            <!-- /FOOTER -->

            </div>
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>