.info {
    justify-content: space-around;
    margin-top: 3%;
    margin-left: -1.5%;
}

#card {
    color: #2b2b2b;
    margin-bottom: 5%;
    width: 27%;
    border: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    transition: all 0.25s;
    padding: 10px;
    border-radius: 5%;
    background-color: white;
    font-family: Poppins;
    color: #2b2b2b;
    padding: 2% 0 1% 2%;
}

#card h6 {
    background-color: #ffffff;
    padding-left: 2%;
    font-family: Poppins;
    font-weight: 500;
}

#card h5 {
    font-family: Poppins;
    background-color: #ffffff;
    color: #2b2b2b;
    text-align: left;
    padding: 2% 0 0 4%;
    margin-top: 2%;
}

.capital {
    border-bottom: 2px solid red;
    color: #2b2b2b !important;
}
.ventas {
    border-bottom: 2px solid blue;
    color: #2b2b2b !important;
}
.ene {
    border-bottom: 2px solid green;
    color: #2b2b2b !important;
}

#card .ladofrente:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}